{% extends 'base2.html.twig' %}


{% block title %}Inscription{% endblock %}


{% block body %}
    <div class="jumbotron text-center">
        <h1>Inscription !</h1>
    </div>

    <div class="container">
        <h1>Inscription sur le site</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Inscription !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
