{% extends 'base.html.twig' %}

{% block title %}MonAppliStock{% endblock %}

{% block stylesheets %}
        <style>
            body{
                background-image: url( {{ asset('assets/img/bgHome.jpg') }} );
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>APPLI GESTION DES STOCKS</h1>
    </div>
{% endblock %}
