{% extends 'base.html.twig' %}

{% block title %}Recherche article{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Rechercher un article</h1>
    </div>

    <div class="container-fluid">
        <form action="">

            <div class="text-center form-group">
                <label for="search" class="form-text">Rechercher par référence</label>
                <input type="text" id="search" placeholder="ref..." class="form-control">

                <div id="js-noResultSearch" class="mt-4 alert alert-warning" role="alert" ></div>

                <button type="submit" id="js-search" class="btn btn-primary mt-2">Rechercher</button>
            </div>

        </form>


        <div id="divResultSearch">
            <h2 class="mt-4 text-center">RÉSULTAT DE LA RECHERCHE</h2>
            <table class="table table-striped">
                <thead>
                <tr id="js-resultStockSearch">

                </tr>
                </thead>
                <tbody id="js-resultSearch">

                </tbody>
            </table>
        </div>
    </div>



{% endblock %}


{% block javascripts %}

    <script>
        $('#js-noResultSearch').hide();
        $('#divResultSearch').hide()

        $("#js-search").click(function (event){
           event.preventDefault()
            if ($("#search").val() !== ""){
                $.ajax({
                    url: '/admin/stock/search/' + $("#search").val(),
                    type: 'get',
                    dataType: 'json',
                    success: function (response){
                        if (response.search === false){
                            $('#divResultSearch').hide()
                            $('#js-noResultSearch').empty().show().append(
                                "<p>" +
                                "Aucun article ne correspond à cette référence" +
                                "</p>"
                            )
                        }
                        if (response.search === true){
                            $('#js-noResultSearch').hide();
                            $('#divResultSearch').show()
                            $('#js-resultStockSearch').empty().append(
                                "<td>" + 'ref' + "</td>" +
                                "<td>" + 'Nom' + "</td>" +
                                "<td>" + 'Prix' + "</td>"
                            )
                            $('#js-resultSearch').empty().append(
                                "<tr id='js-resultStockQtySearch'>" +
                                "<td>"+
                                response.article.ref +
                                "</td>"+
                                "<td>"+
                                response.article.label +
                                "</td>"+
                                "<td>"+
                                response.article.price + ' €' +
                                "</td>"+
                                "</tr>"
                            )
                             if (response.belong.length != 0){
                                 response.belong.forEach(function (stock){
                                     $('#js-resultStockSearch').append(
                                         "<td>" +
                                            stock.stock.label  +
                                         '</td>'
                                     )
                                     $('#js-resultStockQtySearch').append(
                                         "<td>" +
                                         stock.qty  +
                                         '</td>'
                                     )
                                 })
                            }
                        }
                    },
                    error: function (response){
                        alert (response.code + ' ' + response.message)
                    }

                })
            }else{
                $('#js-noResultSearch').empty().show().append(
                    "<p>" +
                    "Veuillez saisir une référence" +
                    "</p>"
                )
            }
        });
    </script>
{% endblock %}
