{% extends 'base.html.twig' %}

{% block title %}Recherche article{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Rechercher un article</h1>
    </div>

    <div class="container-fluid">

    </div>


{% endblock %}
